<!-- Citation for the following code:
-- Date: 02/14/2024
-- Adapted from  
-- Source bsg_HTML_UI/comments.html downloaded from https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327-->

<html>
<head>
<title>Oregon Trail Report Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="browseTrailReports()">
<h1>Oregon Trail Report Database</h1>

<nav>
  <a href="trails.html">Trails</a> | <a href="reports.html">Reports</a> | <a href="users.html">Users</a> | <a href="comments.html">Comments</a> | <a href="trails_has_reports.html">Trails_has_Reports</a>
</nav>

</body>
</html>